<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'source/css/addbook.css' %}">
</head>

<body>
    <div id="add_book_form">
        <form action="add-book" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="formGroupExampleInput">Book Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Book Title..."
                    name="add_book_book_title">
            </div>
            <div class="form-group">
                <label for="authorlist">Select an author: </label>
                <select name="authorlist">
                    {% for author in authors%}
                    <option value={{author.id}}>{{author.first_name}} {{author.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="newbook_review">Review: </label>
            <textarea cols=40 rows=4 name="newbook_review"></textarea>
            <label for="newbook_rating">Rating: </label>
            <select name="newbook_rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="submit"class="btn btn-danger" value="Add book and review"style="margin-top: 10px;">
        </form>
    </div>
</body>

</html>