<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>User Alias: {{user.first_name}}</h1>
    <h1>Name: {{user.first_name}} {{user.last_name}}</h1>
    <h1>Email: {{user.email}}</h1>
    <h1>Total Reviews: {{amount}}</h1>

    <h1>Posted reviews on the following books: </h1>
    {% for review in reviews%}
    <h1><a href="/books/{{review.book.id}}"> {{review.book.title}} </a></h1>
    {% endfor %}
</body>
</html>