<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div id="wrapper">
        <div id="subwrapper">
            <h2 class="heading text-danger">Zombie o<span class="green">r</span> <span class="green">Human?</span></h2>
            <h2 class="sign_in" id="signin">Sign in</h2>
            {% if messages %}
            <div class="errorclass">
                <ul class="messages">
                    {% for message in messages %}
                    <li style="color: red;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div id="register_wrap">
                <form action="/register-species" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="hide" value="register">
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">First Name</label>
                        <input type="text" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_first_name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">Last Name</label>
                        <input type="text" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_last_name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">Email</label>
                        <input type="email" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">Username</label>
                        <input type="text" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_username">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">Password</label>
                        <input type="password" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_password">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class=" labels_for_register">Confirm Password</label>
                        <input type="password" class="form-control inline  register_inputs" id="formGroupExampleInput"
                            name="register_confirm_password">
                    </div>
                    <div class="specs">
                        <label for="formGroupExampleInput" class=" labels_for_register spec">Species</label>
                        <select class="dropdown custom-select" name="register_species">
                            <option class="red species">Zombie</option>
                            <option class="green species">Human</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-danger" value="Register">
                </form>
            </div>
            <div id="signin_wrap">
                <form action="/sign-in-species" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="hide" value="signin">
                    <div class="form-group signin_stuff">
                        <label for="signin_username" class="labels_for_signin" id="signin_username">Username</label>
                        <input type="text" class="form-control inputs_for_signin" name="signin_username">
                    </div>
                    <div class="form-group signin_stuff">
                        <label for="signin_password" id="signin_pass" class="labels_for_signin">Password</label>
                        <input type="password" class="form-control inputs_for_signin" name="signin_password">
                    </div>
                    <input type="submit" class="bt btn-danger" value="Sign In" id="signin_submit">
                </form>
            </div>
        </div>
    </div>
</body>

</html>