<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="row">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    <div class="row">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
    <div class="row">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    <div class="row">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
    <div class="row">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    <div class="row">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
    <div class="row">
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
    </div>
    <div class="row">
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
        <div class="box black"></div>
        <div class="box red"></div>
    </div>
</body>
</html>