<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main/css/newshowsstatic.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="heading">Add a TV Show</h1>
    <a href="/" class="heading"><small class="heading" id="small">Go back..</small></a>
    {% if messages %}
    <ul class="messages">    
    {% for message in messages %}    
        <li style="color: red;"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
    </ul>
    {% endif %}
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        <input type="hidden" name="hide" value="createshow">
        <div class="form-group" id="titlediv">
            <label for="exampleInputEmail1" class="title" id="titlelabel">Title </label>
            <input name="showtitle"type="text" class="form-control title"id="titleinput"placeholder="Enter show title">
        </div>
        <div class="form-group" id="networkdiv">
            <label for="exampleInputEmail1" class="network" id="networklabel">Network </label>
            <input type="text" name="networkname"class="form-control network"id="networkinput"placeholder="Enter network name">
        </div>
        <div class="form-group" id="datediv">
            <label for="exampleInputEmail1" class="date" id="datelabel">Date </label>
            <input type="date" name="showdate"class="form-control date"id="dateinput"placeholder="Enter Date">
        </div>
        <div class="form-group" id="textareadiv">
            <label for="exampleInputEmail1" class="textarea" id="textarealabel">Description </label>
            <textarea class="form-control textarea"name="showdesc"id="textareainput"placeholder="Enter description..."rows=5></textarea>
        </div>
        <button type="submit" class="btn btn-primary title"id="tSubmit">Create...</button>
    </form>
</body>
</html>