<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h1>Welcome to the Quoting Dojo</h1>
<form class="form-group" action="/quotes" method="post">
    <label>Your name: </label>
    <input type="text"name="name" class="form-control">
    <label>Your quote: </label>
    <input type="text"name="quote" class="form-control">
    <input type="submit" class="btn btn-success">
    <a href="/quotes" class="btn btn-primary">Skip to the quotes!</a>
</form>