<% if (bool == true) { %>
    <div id="success">
        <p>Congratz, you guessed!</p>
        <a href="/reset"><button class="btn btn-success">Play again!</button></a>
    </div>
    <% } %>
<%  if (bool == false ) { %>
    <div id="fail">
        <p>FailURE</p>
    </div>
    <% } %>