#register_user {
    width: 25%;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}
#login_user {
    width: 25%;
    display: inline-block;
    margin-left: 250px;
    margin-top: 50px;
    vertical-align: top;
}
h1 {
    font-weight: 400 !important;
    padding-bottom: 30px;
}
.btn-primary {
    margin-top: 10px !important;
}