<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main/css/bookprofile.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>User: {{user.first_name}}</h1>
    <h1>Email: {{user.email}}</h1>
    <h1>Total Reviews: {{count}}</h1>
    <h1>Posted Reviews on the Following Books:</h1>
    <ul>
    {% for review in user.books.all.reviews.all%}
    <li><a href="/books/{{review.book.id}}">{{review.book.title}}</a></li>
    {% endfor %}
</body>
</html>