<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>---Ninja Gold---</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <p id="yourgold">Your Gold:  <input type="text" class="form-control"readonly="readonly" value = {{goldNum}} style="border: 1px solid gold; width: 200px; display: inline-block;"></p>
        <div class= "goldBoxes">
            <h1>Farm</h1>
            <p>(Earns 10-20 golds)</p>
            <form action="/process_money" method = "post" name="farming_form">
                <input type="hidden" name="hide"value="farm">
                <input type="submit"name="farms">
            </form>
        </div>
        <div class="goldBoxes">
            <h1>Cave</h1>
            <p>(Earns 5-10 golds)</p>
            <form action="/process_money" method="post" name="cave_form">
                <input type="hidden" name="hide" value="cave">
                <input type="submit"name="caves">
            </form>
        </div>
        <div class="goldBoxes">
            <h1>House</h1>
            <p>(Earns 2-5 golds)</p>
            <form action="/process_money" method="post">
                <input type="hidden" name="hide" value="house">
                <input type="submit" name="houses">
            </form>
        </div>
        <div class="goldBoxes">
            <h1>Casino</h1>
            <p>(Earns/takes 0-50 golds)</p>
            <form action="/process_money" method="post">
                <input type="hidden" name="hide" value="casino">
                <input type="submit"name="casinos">
            </form>
        </div>
        <div id="activityLog">
            {% for i in range(session['log']|length, -1, -1) %}
            {{ session['log'][i]|safe }}
            {% endfor %}
        </div>
        {% if session['count'] >= 15 %}
        <form action="/sclear" method="post">
            <input type="hidden"name="reset"value="value">
            <button type="submit"id="resetbt" class="btn btn-warning"name="resetbutton">Reset</button>
        </form>
        {% if session['goldCounts'] < 500 %}
        <p style="font-size: 20pt; font-weight: bold; color: red; margin-left: 350px; margin-top: 50px;">*** YOU MAY KEEP GOING, BUT YOU HAVE LOST! ***</p>
        {% else %}
        <p style="font-size: 20pt; font-weight: bold; color: red; margin-left: 350px; margin-top: 50px;">*** YOU WON! ***</p>
        {% endif %}
        {% endif %}



    </div>
      
    
</body>
</html>