<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
</head>
<body>
    <nav class="navbar bg-light">
        <a class="navbar-brand text-success">Home</a>
        <a class="navbar-brand" href="/projects">Projects</a>
        <a class="navbar-brand" href="/contact">Contact</a>
    </nav>
    <div class="about">
        <h1>About Me: </h1>
        <h2>Kevin Cox</h2>
        <div id="imgg"></div>
        <p>I attended coding dojo from september 19th, to december 20th, and I graduated with a black belt in both C# and Python, but graduated with a RED belt in the MEAN stack, due to unfortunate events.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eum, autem odio voluptatem nesciunt explicabo, doloribus nostrum deserunt quaerat praesentium deleniti qui quibusdam impedit? Sit eos totam atque delectus nostrum?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque illo quos animi corrupti illum accusamus eligendi nobis iusto, obcaecati veniam esse. Ab exercitationem doloribus, consequuntur hic unde provident ipsa adipisci.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dolor ullam est explicabo ad? Quae odit necessitatibus id soluta nulla aperiam dolor inventore! Rerum consequuntur unde quisquam, veritatis maiores maxime?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum eius esse ipsam, ut neque eveniet praesentium nobis velit omnis, dolorem vitae exercitationem consectetur quam! Optio blanditiis necessitatibus pariatur consectetur.</p>
    </div>
</body>
</html>