<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h4>ID: {{id}}</h4>
    <h4>Description: <p>{{desc}}</p></h4>
    <h1>Authors:</h1>
    <ul>
{% for i in authors %}
        <li>{{i.first_name}} {{i.last_name}}</li>
{%endfor%}
    </ul>
    <form action="/addauthor" method="POST">
        {%csrf_token%}
        <select name="selection">
            {% for a in totalauthors %}
            <option value={{a.id}}>{{a.first_name}} {{a.last_name}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>