<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity Log</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main/css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

    </script>
</head>

<body>
    <nav class="navbar ">
        <a class="navbar-brand navs" href="/success">Home</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/leaderboard">Leaderboard</a>
        <a href="" class="navs navbar-brand">|</a>
        <a id="actlog" class="navbar-brand navs" href="activity-log">Activity log</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/admin">Admin page</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/profile">Profile</a>
    </nav>
    <div id="wrapper">
        <a style="display: block; width: 100px;margin-left: 1400px;" href="/logout" class="btn btn-danger">Logout</a>
        {% if user.username == admin %}
        <a style="display: block; width: 100px;margin-left: 1400px; margin-top: 15px;" href="/logclear"
            class="btn btn-danger">Clear Log</a>
        {% endif %}
        <div id="attack_form">
            {% if species == zombie %}
            <h4 class="attack_species text-danger mt-4 ml-4">Attack a human</h4>
            {% else %}
            <h4 class="attack_species text-danger mt-4 ml-4">Attack a zombie</h4>
            {% endif %}

            <form action="/attack-user" method="POST" id="attack">
                {% csrf_token %}
                <input type="hidden" name="hide" value="attack_user">
                <select name="username_for_attack" class="custom-select w-50">
                    {% if species == zombie %}
                    {% for h in humans %}
                    <option value={{h.id}}>{{h.username}}</option>
                    {% endfor %}
                    {% endif %}
                    {% if species == human%}
                    {% for z in zombies %}
                    <option value={{z.id}}>{{z.username}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                <select name="method_of_attack" class="custom-select w-50">
                    <option value=1>Slash to the neck</option>
                    <option value=2>Shot to the thigh</option>
                    <option value=3>Tearing eye out of socket</option>
                </select>
                <input type="submit" class="btn btn-danger attack-btn" value="Attack!" style="display: block;">
            </form>
        </div>
        <div id="activity_main" style="display: block;">
            {% for message in messages %}
            <p class="text-danger">{{message.message}}</p>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#actlog').css("color", "#DC3545")
            $('.navs').hover(function () {
                $(this).addClass("text-danger")
            }, function () {
                $(this).removeClass("text-danger")
                $(this).attr("color", "green")
            })
            $("#attack").submit(function (e) {
                e.preventDefault()
                $.ajax({
                    url: $(this).attr("action"),
                    method: "post",
                    data: $(this).serialize(),
                    success: function (serverResponse) {
                        $("#activity_main").prepend(serverResponse)
                    }
                })
            })
        })
    </script>
</body>

</html>