<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Main/css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#profile_nav').css("color", "#DC3545")
            $('.navs').hover(function () {
                $(this).addClass("text-danger")
            }, function () {
                $(this).removeClass("text-danger")
                $(this).attr("color", "green")
            })
        })
    </script>
</head>

<body>
    <nav class="navbar ">
        <a id="home" class="navbar-brand navs" href="/success">Home</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/leaderboard">Leaderboard</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/activity-log">Activity log</a>
        <a href="" class="navs navbar-brand">|</a>
        <a class="navbar-brand navs" href="/admin">Admin page</a>
        <a href="" class="navs navbar-brand">|</a>
        <a id="profile_nav" class="navbar-brand navs" href="/profile">Profile</a>
    </nav>
    <div id="wrapper">
        <a style="display: block; width: 100px;margin-left: 1400px;" href="/logout" class="btn btn-danger">Logout</a>
        {% if messages %}
        <div class="errorclass">
            <ul class="messages">
                {% for message in messages %}
                <li style="color: red;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div id="stats_div">
            <h1 class="text-danger" id="your_stats">Your stats: </h1>
            {% if user.species == zombie %}
            <img class="profile_image" style="margin-left: 40px;" src="../../static/Main/img/bo2.png">
            {% else %}
            <img class="profile_image" src="../../static/Main/img/soldier2.png">
            {% endif %}
            <ul>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Health</h4>
                        <p class="card-text">
                            <br>
                            <br>
                            {{user.health}}
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Kills</h4>
                        <p class="card-text">
                            <br>
                            <br>
                            {{user.kills}}
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">username</h4>
                        <p class="card-text">
                            <br>
                            <br>
                            {{user.username}}
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Display name</h4>
                        <p class="card-text">
                            <br>
                            <br>
                            {{user.first_name}} {{user.last_name}}
                            <br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>