<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <a href="/login">Login</a>
    @model loginregistration.Models.User
    <form action="/register-user"method="post">
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName"class="form-control">
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName"class="form-control">
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email"class="form-control">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password"class="form-control">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="submit" class="btn btn-primary">
    </form>

</body>
</html>