<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Name: <%= info.name %></h1>
    <h1>Location: <%= info.loc %></h1>
    <h1>Language: <%= info.lang %></h1>
    <h1>Comment: <%= info.comment %></h1> 
</body>
</html>