<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="color: green;">Success!</h1>
    <h2 style="color: blue;">Welcome to the site, {{request.session.username}}!</h2>
    <form action="/logout" method="POST">
        {% csrf_token %}
        <input type="hidden" name="hide" value="logout">
        <input type="submit" style="border: none; text-decoration: underline; background-color: white;cursor: pointer;" value="Go Back">
    </form>
</body>
</html>