<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Register</h1>
<form>
  <div class="form-group">
    {{username.errors | json}}
    {{username.valid | json}}
    <label>Username</label>
    <input class="ng-invalid" type="text" name="username" [(ngModel)]="user.username" #username="ngModel" required>
  </div>
  <div class="form-group">
    {{password.errors | json}}
    {{password.valid | json}}
    <label>Email</label>
    <input class="ng-invalid" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
  </div>
  <input type="submit" class="btn btn-primary">
</form>
