<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Secret</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <style type='text/css'>
        .secret_container {
            width: 600px;
            height: 600px;
            border: 1px solid gray;
            margin-left: 31%;
            margin-top: 100px;
            display: inline-block;
            box-shadow: 1px 1px 3px;
            text-align: center;
            overflow-y: auto;
        }

        .create_secret_container {
            width: 500px;
            height: 200px;
            display: inline-block;
            margin-left: 50px;
            margin-top: 50px;
            text-align: left;
        }

        .secret_container:nth-of-type(2) {
            height: 150px;
            margin-top: 0px;
        }
        #second_secret {
            width: 300px;
            height: 200px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">Home</a>
        <a class="navbar-brand" href="/logout">Logout</a>
    </nav>
    <div class="secret_container">
        <h3 class='bg-light'>View Secret</h3>
        <h5><%- secret[0].secret %></h5>
        <div class='create_secret_container'>
            <table class='table '>
                <% for(var i of secret[0].comments) { %>
                <tr>
                    <td><%= i.comment %></td>
                </tr>
                <% } %>
            </table>
            <% if(messages.make_comment) {%>
            <% for(var x of messages.make_comment) {%>
            <p class='text-danger'><%= x %></p>
            <% } %>
            <% } %>
        </div>
    </div>
    <div class="secret_container">
        <div id="second_secret">
            <form action="/create-comment/secret<%=secret[0]._id%>" method="POST">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" class="form-control" name="comment">
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</body>

</html>